body{
    background-color: #222222;
}
main{
    background-color: #000000;
}
.nav{
    flex-direction: row;
    display:flex;
    justify-content: center;
}
.text{
   display:flex;
    flex-direction: row;
    justify-content: space-between;
    color:black;
    
}

.advantages{
    display:flex;
    justify-content: space-around;
    margin-top: 0.45px;
}
.advantages div{
    height:170px;
    width:170px;
    
}
.instructions{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.insructions .first{
    height:370;
    width:440;
}
footer{background-color: white}

map{ flex-wrap: left;}

    